---json
{
  "permalink": "/feed.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}"/>
  <updated>{{ collections.articles | rssLastUpdatedDate }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author }}</name>
    <email>{{ site.email }}</email>
  </author>
  {%- for article in collections.articles | limit(20) %}
  <entry>
    <title>{{ article.data.title }}</title>
    <link href="{{ site.url }}{{ article.url }}"/>
    <updated>{{ article.date | rssDate }}</updated>
    <id>{{ site.url }}{{ article.url }}</id>
    {%- if article.data.category %}
    <category term="{{ article.data.category }}"/>
    {%- endif %}
    <content type="html">{{ article.templateContent | htmlToAbsoluteUrls(site.url + article.url) | emailSafe }}</content>
  </entry>
  {%- endfor %}
</feed>
